:root {
    color-scheme: light dark;
}
body {
    padding: 10px;
    font-family: system-ui;
    text-align: center;
}
button {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    color: black;
    font-size: 14px;
}
#color-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
