:root {
    color-scheme: light dark;
}
body {
    padding: 10px;
    font-family: 'Ek Mukta';
    text-align: center;
}

.title {
    font-size: 25px;
    font-weight: bold;
}
button {
    width: 65px;
    height: 65px;
    border-radius: 20px;
    color: #fdf1e6;
    font-size: 30px;
    padding: 0;
    text-align: center;
    box-shadow: 4px 4px 4px #999;
}
#color-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
    align-content: center;
}

.text {
    font-family: 'Ek Mukta';
    font-weight: 200;
}

#head-text {
    font-size: 22px;
}
