html {
/*    background-color: rgb(0, 0, 0) !important;*/
/*    backdrop-filter: sepia(0) !important;*/
    filter: invert(1.0) hue-rotate(165deg) !important;
}

img,
video, .background-image {
    filter: invert(1.0) hue-rotate(-165deg) !important;
}

.line-content {
    background-color: #fefefe !important;
}

/*
 Reset the css style
 */

body {
    z-index: unset !important;
    background-color: unset !important;
}

article, section, form, aside {
    z-index: unset;
    background-color: unset !important;
}

footer, header, nav, div {
    z-index: unset !important;
    background-color: unset !important;
}

h1, h2, h3, h4, h5, h6, b, p, strong, i, em, mark, small, del, ins, sub, sup {
    z-index: unset !important;
    color: unset !important;
}

img, video {
    z-index: unset !important;
}
