html {
/*    background-color: rgb(0, 0, 0) !important;*/
/*    backdrop-filter: sepia(0) !important;*/
    filter: invert(1.0) hue-rotate(165deg) !important;
}

img,
video, .background-image {
    filter: invert(1.0) hue-rotate(-165deg) !important;
}

.line-content {
    background-color: #fefefe !important;
}
